.episode {
  border: 5px solid #F0E345;
  margin: 20px auto 30px;
  max-width: 690px;
  padding: 20px;
}

.episode h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.releaseDate {
  color: #2A3432;
  display: inline-block;
  font-size: 16px;
  padding-bottom: 30px;
}

.mainImage {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 30px;
}

.clickable {
  text-decoration: none;
  border: 0;
}

.excerpt {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.excerpt p {
  font-size: 16px;
  line-height: 24px;
}

.listenNow {
  border: 2px solid #1D1D1D;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .4px;
  margin: 0 auto;
  padding: 6px 20px;
  vertical-align: bottom;
}

.listenNow:hover {
  background: #F0E345;
}

.playIcon {
  font-family: serif;
  font-size: 16px;
  padding-right: 3px;
}

.components {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 650px) {
  .components {
    flex-direction: row-reverse;
    padding-bottom: 15px;
  }

  .mainImage {
    flex: 1;
    height: 172px;
    max-width: 230px;
    margin: -50px 30px 0 50px;
  }
}
